async-timeout==4.0.3
av==12.0.0
certifi==2024.2.2
charset-normalizer==3.3.2
coloredlogs==15.0.1
ctranslate2==4.3.0
faster-whisper==1.0.2
filelock==3.14.0
flatbuffers==24.3.25
fsspec==2024.5.0
huggingface-hub==0.23.1
humanfriendly==10.0
idna==3.7
mpmath==1.3.0
numpy==1.26.4
onnxruntime==1.18.0
packaging==24.0
protobuf==5.27.0
PyYAML==6.0.1
redis==5.0.4
redis-docker-harness==0.0.4
requests==2.32.2
simple-file-poller==0.0.10
sympy==1.12
tokenizers==0.19.1
tqdm==4.66.4
typing_extensions==4.12.0
urllib3==2.2.1
watchdog==4.0.1
